@import url('./common.css');
body{
    position: relative;
    width: 100%;
}

header{
    position: absolute;
    left: 5%; top: 1.2%;
    width:90%;
    z-index: 99;
}

/* ==================================== main */
main{
    background: url('../img/Main_background_pattern1.png') no-repeat left bottom;
}
.pg1{
    width: 100%;
    margin: 0; padding: 0;
}
.pg1 .bg{}
.pg1 .bg> p{

}
.pg1 .bg> p>img{
    width: 100%;
}

.pg1 .font{
    position: absolute;
    line-height: 0.9;
}


.pg1 .font>p{
    margin-top: 280px;
    font-family: 'Grey Qo', cursive;
    font-size: 150px;
    color: #ffffff;
    margin-left: 122%;
}
.pg1 .font>b{
    font-family: 'Montserrat', sans-serif ;
    font-size: 190px;
    color: #ffffff;
    margin-left: 105%;

}


/* page1================================ */

.pg1 .left_btn{
    position: absolute;
    left: 10%; top: 750px;
    z-index: 97;
}
.pg1 .left_btn>a{
    margin-right: 20px;
    padding: 0;
    display: inline-block;
}
.pg1 .left_btn>a:nth-of-type(1)>p{
    background-color: #ffffff;
    border-radius: 100%;
    width: 20px; height: 20px;
}

.pg1 .left_btn>a:nth-of-type(1):hover +.bg p:nth-of-type(1)>img{
    width: 100%;
}


.pg1 .left_btn>a:nth-of-type(2)>p{
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 20px; height: 20px;
}

.pg1 .left_btn>a:nth-of-type(2):hover +.bg p:nth-of-type(2)>img{
    width: 100%;
}

.pg1 .left_btn>a:nth-of-type(3)>p{
    border: 1px solid #ffffff;
    border-radius: 100%;
    width: 20px; height: 20px;
}


.pg1 .left_btn>a:nth-of-type(3):hover + .bg p:nth-of-type(3)>img{
    width: 100%;
}


/* page2 (left) ============================ */
.pg2{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}
.pg2 .fl{
    width:50%;
}

.pg2 .fl>h2{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: 10px;
    margin-left: 300px;
}
.pg2 .fl .flex{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.pg2 .fl .flex .scroll{
    width: 3px; height: 200px;
    background-color: rgb(155, 155, 155);
    margin-left: 100px;
    margin-top: 60px;
}
.pg2 .fl .flex .scroll>p{
    width: 20px; height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: rgb(155, 155, 155);
    margin-left: -8px;
}


.pg2 .fl .region{
    text-align: center;
    width:80%; height:250px; 
    overflow: hidden;
    margin-top: 60px;
}   

.pg2 .fl .flex .region p{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    font-size: 55px;
    opacity: 0.4;
    margin-left: -100px;
}
.pg2 .fl .flex .region p.active{
    opacity:1;
    font-size:85px;
}


/* page2 (right)============= */

.pg2 .img{
    width:50%;
    overflow: hidden;
    margin-top: 100px;
}
.pg2 .img .card{
    display: flex;
    justify-content: space-between;
    width: 100%;    
    height: 100%;
    transform-style: preserve-3d;
    animation: card .5s alternate linear;
    margin-bottom: 20px;
}

.pg2 .img .card>li{
    background-color: #ddd;
    border-radius: 80px;
    width: 400px; height:600px ;
    position: relative;
    box-shadow: 10px 10px 10px gray;
    flex-shrink: 0;
    margin:0 10px;
    overflow: hidden;
}

.pg2 .img .card>li a{width:100%; display:block;}
.pg2 .img .card>li a img{width:100%;}
.pg2 .img .card>li>h2{
    position: absolute;
    display: block;
    left: 12%; top: 65%;
    color: #ffffff;
    font-size: 55px;
    z-index: 95;
    width:80%;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}

.pg2 .img .card>li>span{
    position: absolute;
    display: block;
    left: 12%; top: 80%;
    color: #ffffff;
    font-size: 25px;
    z-index: 95;
}



/* page3============================== */

.pg3{
    width: 1680px;
    background-color: #ffffff;
    margin: 0 auto;
}
.pg3 h2{
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    padding-top: 150px;
    padding-bottom: 60px;
    margin-left: 130px;
}
.pg3 .city{
    display: flex;
    justify-content: space-between;
    /* align-content: space-between; */
    width: 85%;
    flex-wrap: wrap;
    vertical-align: middle;
    position: relative;
    margin: 0 auto;
}

.pg3 .city>li.active{
    width: 66%; 

}
.pg3 .city>li{
    position: relative;
    width:32%; 
    transition: 0.5s;
    margin-bottom: 50px;
    border-radius:60px;

}
.pg3 .city>li>a{
    display:block;
    overflow: hidden;
    border-radius: 50px;


}
.pg3 .city>li>a>p{

}
.pg3 .city>li>a>p>img{
    z-index: 4; height:300px;
    width:100%;
    box-shadow: 5px 5px 8px gray;
    border-radius: 65px;
}


.pg3 .city>li span{
    color:#ffffff;
    position: absolute;
    right: 10%; top: 65%;
    z-index: 96;
    font-size: 25px;
    text-align: right;
}

.pg3 .city>li:nth-of-type(1) span{
    color:#ffffff;
    position: absolute;
    right: 8%; top: 75%;
    z-index: 96;
    font-size: 25px;
    text-align: right;
}
.pg3 .city>li:nth-of-type(2) span{
    color:#ffffff;
    position: absolute;
    left: 10%; top: 75%;
    z-index: 96;
    font-size: 24px;
    text-align: left;
}
.pg3 .city>li:nth-of-type(3) span{
    color:#ffffff;
    position: absolute;
    left: 0%; top: 75%;
    z-index: 96;
    font-size: 24px;
    text-align: right;
}
.pg3 .city>li:nth-of-type(4) span{
    color:#ffffff;
    position: absolute;
    left: 10%; top: 65%;
    z-index: 96;
    font-size: 24px;
    text-align: left;
}
.pg3 .city>li:nth-of-type(5) span{
    color:#ffffff;
    position: absolute;
    left: 10%; top: 65%;
    z-index: 96;
    font-size: 24px;
    text-align: left;
}
.pg3 .city>li .tag{
    position: absolute;
    left:0; top:0;
    background-color:  #5989A4;
    width: 90px; height: 54px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 24px;
    z-index: 98;
    padding: 10px;
    text-align: center;
    transform: translateX(-10%);
}

/* ================================================ */
.pg3 .tag{
    position:absolute;
}
.pg3 .tag>div{
    background-color:  #5989A4;
    width: 90px; height: 54px;
    border-radius: 50px;
    color: #ffffff;
    z-index: 98;
    padding: 20px;
}


.pg3>div>a>b{
    margin-left: 83%;
    text-decoration: none;
    background-color:  #5989A4;
    border-radius: 50px;
    color: #ffffff;
    padding: 15px 25px;
    margin-bottom: 50px;
}

/* ============================================ */



/* .pg3 .tag:nth-of-type(1){

} */



/* .pg3 .city{    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px;
}

.pg3 .city >li.active{
    border-radius: 50px;
    width: 900px; height:300px ;
    position: relative;
    margin-bottom: 120px;

}
.pg3 .city >li{    
    border-radius: 50px;
    width: 580px; height:300px ;
    position: relative;
}


.pg3 .city>li>p{
    width: 100%;
}

.pg3 .city>li img{
    width:100%;
}
.pg3 .city>li>span{
    position: absolute;
    color: #ffffff;
    left: 8%; top: 90%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}

.pg3 .city>li>div{
    position: absolute;
    left: -2px; top: -7px;
    background-color: #5989A4;
    width: 90px; height: 54px;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 12px;
}
 */


/* page4===================================== */

.pg4{
    width: 100%;
    height: 500px;
    margin-top: 80px;
    background-color:#E8EFF3;
}

.pg4 h2{
    text-align: center ;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}


.pg4 .blocks{
    width: 1203px;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-top: 20px;
    margin-left: 285px;
}

.pg4 .blocks >li{    
    background-color: #ffffff;
    width: 245px; height: 260px;
    border-radius: 25px;
    box-shadow: 5px 5px 5px rgb(136, 136, 136);
    padding-top: 30px;
}
.pg4 .blocks>li>a>p{
    margin-bottom: 10px;
    margin-top: 5px;
}
.pg4 .blocks>li>a>p>img{
    vertical-align: middle;
    margin-bottom: 5px;

}

.pg4 .blocks>li>span{
    color: #000;
}
.pg4 .blocks>li>div{
    text-align: center;
}


/* page5 ============================================= */
.pg5{
    width: 100%;
}
.pg5 .grp{}
.pg5>h2{
    text-align: center ;
    padding-top: 70px;
    padding-bottom: 120px;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.pg5 .grp .rotate{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin:0 auto;
}
.pg5 .grp .rotate>li{
    background-color: #ececec;
    width: 350px; height: 400px;
    border-radius: 50px;
    box-shadow: 10px 10px 5px rgba(104, 91, 91, 0.386);
}
.pg5 .grp .rotate>li.active{
    transform: scale(1.4);
}
/* .pg5 .rotate>li:nth-of-type(1){}
.pg5 .rotate>li:nth-of-type(2){}
.pg5 .rotate>li:nth-of-type(3){} */

.pg5 .grp .rotate>li>p{
}
.pg5 .grp .rotate>li>p>img{
    border-radius: 50px 50px 0 0;
    width: 100%; height: 250px;
    margin-bottom: 25px;
}


.pg5 .grp .rotate>li>span{
    
    display: block;
    padding:0 40px;
}
.pg5 .grp .rotate>li>span>a{
    display: block;
    padding-top: 15px;
    font-size: 20px;
    text-decoration: underline;
    font-family: 'Buenard', serif;
}

.pg5 .grp .rotate>li>span>b{
    font-family: 'Archivo', sans-serif;
    font-size:16px;
}

.pg5 .grp .arrow{
    display: inline-block;
}

.pg5 .grp .arrow>a>p{
    background-color: #5989A4;
    width: 50px; height: 50px;
    border-radius: 50px;
}

.pg5 .grp .arrow>a>p>img{
    padding-left: 18px;
    padding-top: 12px;
}
.pg5 .grp .arrow>a>p:nth-of-type(1){
    /* margin-left: 400px; */
    left: 25%;
    margin-top: 190px;
    position: absolute;
}
.pg5 .grp .arrow>a>p:nth-of-type(2){
    /* margin-left: 1400px; */
    right: 25%;
    margin-top: 200px;
    position: absolute;
}

.pg5 .button{
    background-color: rgb(127, 127, 127);
    width: 50px; height: 50px;
    border-radius: 100%;
    margin-left: 90%;
    margin-bottom: 18px;
    margin-top: 80px;
}
.pg5 .button>a{}
.pg5 .button>a>img{
    padding: 13px;
    width: 100%;
}


/* footer ==================================== */

.footer{
    width: 100%;
    height: 400px;
    background-color: #E8EFF3;
}
.footer .list{
    display: flex;
    justify-content: space-between;
    width: 100%;
    line-height: 1.4;
}
.footer .list>li{
    width: 35%;
    margin-left: 200px;
    margin-top: 70px;
}
.footer .list>li>h2{
    margin-bottom: 20px;
    font-size: 20px;
    font-family:  'Montserrat', sans-serif;
}

.footer .list>li>h2::after{
    content: '';
    display: block;
    width: 50%;
    border-bottom: 2px solid #000;
}
.footer .list>li>p{
    font-size: 20px;
    font-family:  'Montserrat', sans-serif;
}

/* ============================ */
.footer .sns{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin-left: 77.5%;
}
.footer .sns>a{
}
.footer .sns>a>img{}